.advantages {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0px 50px;
}
.wrapper {
  max-width: 1180px;
  margin: auto;
}
.title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #665cd1;
  margin-bottom: 20px;
}

.advantages_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.advantages_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fefefe;
  box-shadow: 0px 3.33333px 14.6667px rgba(215, 215, 215, 0.47);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 10px;
  &:hover {
    transition: 0.5s;
    box-shadow: 0px 3.33333px 14.6667px rgba(161, 159, 159, 0.562);
    .advantages_card_loop {
      transition: 0.5s;
      transform: rotate(360deg);
    }
    .advantages_card_chek_mark {
      transition: 0.5s;
      height: 15px;
      opacity: 1;
    }
    .under_hand_button {
      transition: 0.5s;
      .under_hand_button_inside {
        transition: 0.3s;

        fill: #665cd1;
      }
      .under_hand_button_around,
      .under_hand_button_center {
        transition: 0.3s;

        fill: #fefefe;
      }

      top: 21px;
      left: 5px;
    }
    .hand {
      transition: 0.3s;

      top: 43px;
      left: 19px;
    }
  }
}

.reverse_card {
  flex-direction: row-reverse;
}
.ad_card_img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}
.advantages_card_loop {
  position: absolute;
  top: 49px;
  left: 24px;
}
.advantages_card_chek_mark {
  position: absolute;
  bottom: 16px;
  right: 49px;
  opacity: 0.5;
  height: 1px;
}
.under_hand_button {
  position: absolute;
  top: 21px;
  left: 5px;
}
.hand {
  position: absolute;
  top: 45px;
  left: 22px;
}
.ad_card_description {
  width: 400px;
}
.ad_card_label {
  margin-bottom: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #262626;
}
.ad_card_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #262626;
}
////////For whom we exist//////////////////////////////

.exist {
  margin-bottom: 50px;
  padding: 0px 50px;
}
.exist_content {
  max-width: 1170px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exist_left_part {
  .exist_list {
    margin-left: 30px;
    li {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #262626;
      margin-bottom: 15px;
      position: relative;
      &:last-child {
        margin-bottom: 0px;
      }
      &::before {
        content: "";
        background-image: url(/public/image/icons/list-img.svg);
        height: 20px;
        width: 20px;
        position: absolute;
        left: -30px;
      }
    }
  }
}
.exist_right_part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exist_left_words,
.exist_right_words {
  display: flex;
  flex-direction: column;
}
.m {
  background-image: url(/public/image/icons/m.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}
.oo {
  background-image: url(/public/image/icons/os.svg);
  background-repeat: no-repeat;
  margin-bottom: 10px;

  height: 20px;
  width: 20px;
}
.o {
  background-image: url(/public/image/icons/o.svg);
  background-repeat: no-repeat;
  height: 20px;
  margin-bottom: 10px;
  width: 20px;
}
.w {
  background-image: url(/public/image/icons/w.svg);
  background-repeat: no-repeat;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
}
.last_word {
  margin: 0;
}
.exist_offer {
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 501px;
}
.offer_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #262626;
}
.offer_button {
  display: block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
  background: #665cd1;
  color: white;
  padding: 10px 15px;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  margin: 20px 0px;
  transition: 1s;
  &:hover {
    transition: 1s;
    position: relative;
    background-color: #665cd1;
    top: 1px;
    box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
  }
}
.ofer_download_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.google_play {
  background-image: url(/public/image/icons/google-play.png);
  width: 113px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 45px;
  &:hover {
    box-shadow: 1px 2px 20px rgba(56, 0, 88, 0.363);
  }
}
.app_store {
  background-image: url(/public/image/icons/app-store.png);
  width: 113px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    box-shadow: 1px 2px 20px rgba(56, 0, 88, 0.363);
  }
}

////////Statistics//////////////////////////////
.statistics {
  margin-bottom: 30px;
}
.statistik_label {
  margin-bottom: 20px;
  h2 {
    max-width: 430px;
  }
  width: 535px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #171717;
  p {
    font-size: 11px;
    line-height: 14px;
    color: #7e7e7e;
  }
}
.statistic_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.statistic_card {
  padding: 10px;
  background: #fefefe;
  box-shadow: 0px 1.33333px 11.3333px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
.stat_card_label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #262626;
  margin-bottom: 15px;
}
.stat_card_top_list {
  margin-bottom: 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }
    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 700;
      font-size: 11px;
      line-height: 14px;
      color: #665cd1;
      background: #f1f0ff;
      border-radius: 42px;
      padding: 3px 6px;
      margin-right: 5px;
    }
  }
}
.stat_card_at_ukraine {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #262626;
  span {
    color: #665cd1;
  }
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.map_label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
  margin-bottom: 7px;
}
.active_map {
  margin-bottom: 30px;
}
.map_active_block {
  position: absolute;
  width: 260px;
  height: 93px;
  background-color: aquamarine;

  overflow: hidden;
  background: #fefefe;

  border: 2px solid #665cd1;
  border-radius: 10px;
}
.map_button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
  padding: 10px 15px;
  background: #665cd1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  &:hover {
    transition: 1s;
    position: relative;
    background-color: #665cd1;
    top: 1px;
    box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
  }
}
////////AboutMoow//////////////////////////////
.about {
  margin-bottom: 20px;
}
.about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.about_margin {
  margin-bottom: 10px;
}
.about_video {
  margin: 0px 25px;
  background-image: url(/public/image/about-video.png);
  width: 700px;
  height: 350px;
  border: 3px solid #f1f0ff;
  border-radius: 15px;
}
////////Discount//////////////////////////////
.discounts {
  margin-bottom: 50px;
  padding: 20px 50px;
  background: #f1f0ff;
}

.swiper_slide {
  padding-top: 11px;
  width: 260px;
  height: 200px;
}
.slide_image {
  overflow: visible;
  img {
    border-radius: 24px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  position: relative;
}
.advertised {
  top: 7px;
  left: 7px;
  position: absolute;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12.6667px;
  line-height: 16px;
  display: inline-block;
  text-align: center;

  padding: 3px 10px;

  color: #665cd1;
  background: #f1f0ff;
  border-radius: 5.33333px;
}
.certified {
  background-image: url(/public/image/icons/certified.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  top: -7px;
  right: -7px;
  z-index: 5;
}
.cheked {
  top: 35px;
  left: 7px;
  position: absolute;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12.6667px;
  line-height: 16px;
  padding: 3px 10px;
  text-align: center;
  display: inline-block;
  background: rgba(33, 217, 41, 0.5);
  border-radius: 5px;
  color: #f1f0ff;
  transition: 0.5s;
  &:hover {
    background: rgba(33, 217, 41, 0.8);
  }
}
.slide_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slide_main_info {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #262626;
}
.slide_price {
  position: relative;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #665cd1;
  span {
    position: absolute;
    display: inline-block;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;

    color: #5a5a5a;
  }
}

.slide_rating {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;

  text-align: right;

  color: #5a5a5a;
  position: relative;
  &::before {
    content: "";
    top: -2px;
    left: 0px;
    position: absolute;
    background-image: url(/public/image/icons/star.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }
}
.slide_views {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;

  color: #5a5a5a;
  position: relative;
  &::before {
    content: "";
    top: 1px;
    left: -12px;
    position: absolute;
    background-image: url(/public/image/icons/views.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
  }
}
////////Registration//////////////////////////////
.registration {
  margin-bottom: 50px;
}
.registration_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}
.reg_card {
  padding: 10px;
  background: #fefefe;
  box-shadow: 0px 1.33333px 11.3333px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  display: flex;
  &:hover {
    transition: 0.5s;
    position: relative;

    top: 1px;
    box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.315);
  }
}
.reg_card_content {
  margin-left: 33px;
}
.reg_card_label {
  margin-bottom: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  color: #171717;
}
.reg_card_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  /* Black/500 */

  color: #262626;

  width: 470px;
}
////////AllEazy//////////////////////////////
.eazy {
  margin-bottom: 50px;
}
.eazy_content {
  display: flex;

  justify-content: space-between;
  align-items: stretch;
}

.eazy_card {
  text-align: center;
  transition: 0.5s;
  &:hover {
    #os_around {
      transition: 0.5s;

      fill: #f1f0ff;
    }
    #os_inside {
      transition: 0.5s;

      fill: #665cd1;
    }
    background-color: #665cd1;
    svg {
      transition: 0.7s;
      transform: rotate(360deg);

      fill: #f1f0ff;

      path {
      }
    }
  }
  svg {
    margin-bottom: 30px;
  }
  width: 220px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #f1f0ff;
}
.eazy_card_label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #171717;
}
.eazy_card_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #171717;
}
////////Driver//////////////////////////////

.driver {
  margin-bottom: 50px;
  color: #ebebeb;
}
.driver_all_contetn {
  background-image: url(/public/image/driver-back.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 50px 70px;
}
.driver_title {
  text-align: center;
}
.driver_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.driver_info {
  margin-top: 45px;
}
.driver_info_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 100px;
}
.driver_info_sub_title {
  margin-top: 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.driver_info_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_list_users,
.info_list_drivers {
  h3 {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
.list_users,
.list_drivers {
  color: #ebebeb;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  padding-left: 25px;
  li {
    margin-bottom: 10px;
    width: 285px;
    position: relative;
    &::before {
      content: "";
      background-image: url(/public/image/icons/os.svg);
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 5px;
      left: -25px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.driver_image {
  margin-top: 60px;
  img {
    height: 450px;
  }
}
.driver_future {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  position: absolute;
  bottom: -30px;
  right: 0px;
}
////////Question//////////////////////////////

.question {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.question_content {
  text-align: center;
  width: 480px;
  padding: 15px;
  background: #fefefe;
  box-shadow: 0px 3.33333px 14.6667px rgba(215, 215, 215, 0.47);
  border-radius: 15px;
}
.question_content_subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 25px;
  color: #262626;
}
.question_buttons {
  padding: 0px 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  .go_faq {
    background: #171717;
    box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
    border-radius: 45px;
    padding: 10px 15px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #f1f0ff;

    &:hover {
      transition: 0.5s;
      position: relative;
      background-color: #665cd1;
      top: 1px;
      box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
      
    }
  }
  .go_bot {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #f1f0ff;
    padding: 10px 15px;
    background: #665cd1;
    box-shadow: 0px 4px 10px rgba(111, 98, 228, 0.945);
    border-radius: 45px;
    &:hover {
      transition: 0.5s;
      position: relative;
      background-color: #665cd1;
      top: 1px;
      box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
    }
  }
}
.question_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
}
////////AppOrWeb//////////////////////////////
.app_or_web {
  margin-bottom: 50px;
}
.app_or_web_contet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
    url(/public/image/app-or-web-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.app_or_web_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #f1f0ff;
  margin-bottom: 10px;
}
.app_or_web_subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
  margin-bottom: 25px;
}

.app_or_web_buttot_web {
  margin-bottom: 30px;
  a {
    padding: 10px 15px;
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #f1f0ff;
    background: #665cd1;
    box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
    border-radius: 45px;
    &:hover {
      transition: 0.5s;
      position: relative;
      background-color: #665cd1;
      top: 1px;
      box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
    }
  }
}
.app_or_web_app {
  width: 675px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .app_or_web_buttot_app {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    padding: 10px 15px;
    color: #f1f0ff;
    background: #171717;
    box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
    border-radius: 45px;

    &:hover {
      transition: 0.5s;
      position: relative;
      background-color: #665cd1;
      top: 1px;
      box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
      
    }
  }
}
