.advantages {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0px 50px;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.advantages.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.wrapper {
  max-width: 1180px;
  margin: auto;
}

.title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #665cd1;
  margin-bottom: 20px;
}

.advantages_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@-webkit-keyframes anim_box {
  0% {
    top: -9px;
    left: 4px;
  }
  25% {
    top: 30px;
    left: -30px;
  }
  50% {
    top: -9px;
    left: -80px;
  }
  75% {
    top: -55px;
    left: -35px;
  }
  100% {
    top: -9px;
    left: 4px;
  }
}

@keyframes anim_box {
  0% {
    top: -9px;
    left: 4px;
  }
  25% {
    top: 30px;
    left: -30px;
  }
  50% {
    top: -9px;
    left: -80px;
  }
  75% {
    top: -55px;
    left: -35px;
  }
  100% {
    top: -9px;
    left: 4px;
  }
}
@-webkit-keyframes anim_message {
  0% {
    top: -15px;
    left: -25px;
  }
  25% {
    top: -12px;
    left: 42px;
  }
  50% {
    top: 55px;
    left: 26px;
  }
  75% {
    top: 28px;
    left: -47px;
  }
  100% {
    top: -15px;
    left: -25px;
  }
}
@keyframes anim_message {
  0% {
    top: -15px;
    left: -25px;
  }
  25% {
    top: -12px;
    left: 42px;
  }
  50% {
    top: 55px;
    left: 26px;
  }
  75% {
    top: 28px;
    left: -47px;
  }
  100% {
    top: -15px;
    left: -25px;
  }
}
@-webkit-keyframes anim_carculator {
  0% {
    top: -2px;
    left: -16px;
  }
  25% {
    top: -62px;
    left: -18px;
  }
  50% {
    top: -65px;
    left: 60px;
  }
  75% {
    top: -6px;
    left: 57px;
  }
  100% {
    top: -2px;
    left: -16px;
  }
}
@keyframes anim_carculator {
  0% {
    top: -2px;
    left: -16px;
  }
  25% {
    top: -62px;
    left: -18px;
  }
  50% {
    top: -65px;
    left: 60px;
  }
  75% {
    top: -6px;
    left: 57px;
  }
  100% {
    top: -2px;
    left: -16px;
  }
}
.cirkle {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.message {
  position: absolute;
  top: -15px;
  left: -25px;
}

.carculator {
  position: absolute;
  top: -2px;
  left: -16px;
}

.box {
  position: absolute;
  top: -9px;
  left: 4px;
}

.advantages_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fefefe;
  box-shadow: 0px 3.33333px 14.6667px rgba(215, 215, 215, 0.47);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 10px;
}
.advantages_card:hover {
  transition: 0.5s;
  box-shadow: 0px 3.33333px 14.6667px rgba(161, 159, 159, 0.562);
}
.advantages_card:hover .advantages_card_loop {
  transition: 0.5s;
  transform: rotate(360deg);
}
.advantages_card:hover .advantages_card_chek_mark {
  transition: 0.5s;
  height: 15px;
  opacity: 1;
}
.advantages_card:hover .under_hand_button {
  transition: 0.5s;
  top: 21px;
  left: 5px;
}
.advantages_card:hover .under_hand_button .under_hand_button_inside {
  transition: 0.3s;
  fill: #665cd1;
}
.advantages_card:hover .under_hand_button .under_hand_button_around,
.advantages_card:hover .under_hand_button .under_hand_button_center {
  transition: 0.3s;
  fill: #fefefe;
}
.advantages_card:hover .hand {
  transition: 0.3s;
  top: 43px;
  left: 19px;
}
.advantages_card:hover .message {
  -webkit-animation-name: anim_message;
          animation-name: anim_message;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
.advantages_card:hover .box {
  -webkit-animation-name: anim_box;
          animation-name: anim_box;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}
.advantages_card:hover .carculator {
  -webkit-animation-name: anim_carculator;
          animation-name: anim_carculator;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

.reverse_card {
  flex-direction: row-reverse;
}

.ad_card_img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.advantages_card_loop {
  position: absolute;
  top: 49px;
  left: 24px;
}

.advantages_card_chek_mark {
  position: absolute;
  bottom: 16px;
  right: 49px;
  opacity: 0.5;
  height: 1px;
}

.under_hand_button {
  position: absolute;
  top: 21px;
  left: 5px;
}

.hand {
  position: absolute;
  top: 45px;
  left: 22px;
}

.ad_card_description {
  width: 400px;
}

.ad_card_label {
  margin-bottom: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #262626;
}

.ad_card_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #262626;
}

.exist {
  margin-bottom: 50px;
  padding: 0px 50px;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.exist.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.exist_content {
  max-width: 1170px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exist_left_part .exist_list {
  margin-left: 30px;
}
.exist_left_part .exist_list li {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #262626;
  margin-bottom: 15px;
  position: relative;
}
.exist_left_part .exist_list li:last-child {
  margin-bottom: 0px;
}
.exist_left_part .exist_list li::before {
  content: "";
  background-image: url(/public/image/icons/list-img.svg);
  height: 20px;
  width: 20px;
  position: absolute;
  left: -30px;
}

.exist_right_part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exist_left_words,
.exist_right_words {
  display: flex;
  flex-direction: column;
}

.m {
  background-image: url(/public/image/icons/m.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-bottom: 10px;
}

.oo {
  background-image: url(/public/image/icons/os.svg);
  background-repeat: no-repeat;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
}

.o {
  background-image: url(/public/image/icons/o.svg);
  background-repeat: no-repeat;
  height: 20px;
  margin-bottom: 10px;
  width: 20px;
}

.w {
  background-image: url(/public/image/icons/w.svg);
  background-repeat: no-repeat;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
}

.last_word {
  margin: 0;
}

.exist_offer {
  margin: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 501px;
}

.offer_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #262626;
}

.offer_button {
  display: block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
  background: #665cd1;
  color: white;
  padding: 10px 15px;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  margin: 20px 0px;
  transition: 1s;
}
.offer_button:hover {
  transition: 1s;
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
}

.ofer_download_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.google_play {
  background-image: url(/public/image/icons/google-play.png);
  width: 113px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 45px;
}
.google_play:hover {
  box-shadow: 1px 2px 20px rgba(56, 0, 88, 0.363);
}

.app_store {
  background-image: url(/public/image/icons/app-store.png);
  width: 113px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
}
.app_store:hover {
  box-shadow: 1px 2px 20px rgba(56, 0, 88, 0.363);
}

.statistics {
  margin-bottom: 30px;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.statistics.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.statistik_label {
  margin-bottom: 20px;
  width: 535px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #171717;
}
.statistik_label h2 {
  max-width: 430px;
}
.statistik_label p {
  font-size: 11px;
  line-height: 14px;
  color: #7e7e7e;
}

.statistic_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.statistic_card {
  padding: 10px;
  background: #fefefe;
  box-shadow: 0px 1.33333px 11.3333px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.stat_card_label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #262626;
  margin-bottom: 15px;
}

.stat_card_top_list {
  margin-bottom: 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #262626;
}
.stat_card_top_list li {
  margin-bottom: 10px;
}
.stat_card_top_list li:last-child {
  margin-bottom: 0px;
}
.stat_card_top_list li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  color: #665cd1;
  background: #f1f0ff;
  border-radius: 42px;
  padding: 3px 6px;
  margin-right: 5px;
}

.stat_card_at_ukraine {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #262626;
}
.stat_card_at_ukraine span {
  color: #665cd1;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.map.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.map_label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #5a5a5a;
  margin-bottom: 7px;
}

.active_map {
  margin-bottom: 30px;
  position: relative;
}

.map_active_block {
  position: absolute;
  width: 260px;
  max-height: 93px;
  transition: 0.3s;
  background: #fefefe;
  padding: 8px 10px;
  border: 2px solid #665cd1;
  border-radius: 10px;
}

.map_active_block_label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  color: #000000;
}

.region_info {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
}
.region_info li span {
  color: #665cd1;
}

.map_button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
  padding: 10px 15px;
  background: #665cd1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
}
.map_button:hover {
  transition: 1s;
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
}

.about {
  margin-bottom: 20px;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.about.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.about_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.about_margin {
  margin-bottom: 10px;
}

.about_video {
  margin: 0px 25px;
  width: 700px;
  height: 350px;
  border: 3px solid #f1f0ff;
  border-radius: 15px;
}

.discounts {
  margin-bottom: 50px;
  padding: 20px 50px;
  background: #f1f0ff;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.discounts.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.swiper_slide {
  padding-top: 11px;
  width: 260px;
  height: 200px;
}
.swiper_slide:hover .advertised {
  -webkit-animation-name: anim_advertised;
          animation-name: anim_advertised;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.swiper_slide:hover .cheked {
  -webkit-animation-name: anim_advertised;
          animation-name: anim_advertised;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes anim_advertised {
  0% {
    padding: 3px 10px;
  }
  50% {
    padding: 5px 15px;
  }
  100% {
    padding: 3px 10px;
  }
}

@keyframes anim_advertised {
  0% {
    padding: 3px 10px;
  }
  50% {
    padding: 5px 15px;
  }
  100% {
    padding: 3px 10px;
  }
}
.slide_image {
  overflow: visible;
  position: relative;
}
.slide_image img {
  border-radius: 24px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.advertised {
  top: 7px;
  left: 7px;
  position: absolute;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12.7px;
  line-height: 16px;
  display: inline-block;
  text-align: center;
  padding: 3px 10px;
  color: #665cd1;
  background: #f1f0ff;
  border-radius: 5.33333px;
}

.certified {
  background-image: url(/public/image/icons/certified.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  position: absolute;
  top: -7px;
  right: -7px;
  z-index: 5;
}

.cheked {
  top: 35px;
  left: 7px;
  position: absolute;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12.7px;
  line-height: 16px;
  padding: 3px 10px;
  text-align: center;
  display: inline-block;
  background: rgba(33, 217, 41, 0.5);
  border-radius: 5px;
  color: #f1f0ff;
  transition: 0.5s;
}
.cheked:hover {
  background: rgba(33, 217, 41, 0.8);
}

.slide_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide_main_info {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #262626;
}

.slide_price {
  position: relative;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #665cd1;
}
.slide_price span {
  position: absolute;
  display: inline-block;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  font-weight: 300;
  color: #5a5a5a;
}

.slide_rating {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  text-align: right;
  color: #5a5a5a;
  position: relative;
}
.slide_rating::before {
  content: "";
  top: -2px;
  left: 0px;
  position: absolute;
  background-image: url(/public/image/icons/star.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.slide_views {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #5a5a5a;
  position: relative;
}
.slide_views::before {
  content: "";
  top: 1px;
  left: -12px;
  position: absolute;
  background-image: url(/public/image/icons/views.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

.registration {
  margin-bottom: 50px;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.registration.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.registration_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
}

.reg_card {
  padding: 10px;
  background: #fefefe;
  box-shadow: 0px 1.33333px 11.3333px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  display: flex;
}
.reg_card:hover {
  transition: 0.5s;
  position: relative;
  top: 1px;
  box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.315);
}

.reg_card_content {
  margin-left: 33px;
}

.reg_card_label {
  margin-bottom: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #171717;
}

.reg_card_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #262626;
  width: 470px;
}

.eazy {
  margin-bottom: 50px;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.eazy.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.eazy_content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.eazy_card {
  text-align: center;
  transition: 0.5s;
  width: 220px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #f1f0ff;
}
.eazy_card:hover {
  background-color: #665cd1;
}
.eazy_card:hover #os_around {
  transition: 0.5s;
  fill: #f1f0ff;
}
.eazy_card:hover #os_inside {
  transition: 0.5s;
  fill: #665cd1;
}
.eazy_card:hover svg {
  transition: 0.7s;
  transform: rotate(360deg);
  fill: #f1f0ff;
}
.eazy_card svg {
  margin-bottom: 30px;
}

.eazy_card_label {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #171717;
}

.eazy_card_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #171717;
}

.driver {
  margin-bottom: 50px;
  color: #ebebeb;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.driver.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.driver_all_contetn {
  background-image: url(/public/image/driver-back.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 50px 70px;
}

.driver_title {
  text-align: center;
}

.driver_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.driver_info {
  margin-top: 45px;
}

.driver_info_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 100px;
}

.driver_info_sub_title {
  margin-top: 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.driver_info_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_list_users h3,
.info_list_drivers h3 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.list_users,
.list_drivers {
  color: #ebebeb;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  padding-left: 25px;
}
.list_users li,
.list_drivers li {
  margin-bottom: 10px;
  width: 285px;
  position: relative;
}
.list_users li::before,
.list_drivers li::before {
  content: "";
  background-image: url(/public/image/icons/os.svg);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 5px;
  left: -25px;
}
.list_users li:last-child,
.list_drivers li:last-child {
  margin-bottom: 0px;
}

.driver_image {
  margin-top: 60px;
}
.driver_image img {
  height: 450px;
}

.driver_future {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  position: absolute;
  bottom: -30px;
  right: 0px;
}

.question {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.question.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.question_content {
  text-align: center;
  width: 480px;
  padding: 15px;
  background: #fefefe;
  box-shadow: 0px 3.33333px 14.6667px rgba(215, 215, 215, 0.47);
  border-radius: 15px;
  transition: 0.3s;
}
.question_content:hover {
  box-shadow: 1px 2px 25px rgba(0, 0, 0, 0.315);
}

.question_content_subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 25px;
  color: #262626;
}

.question_buttons {
  padding: 0px 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.question_buttons .go_faq {
  background: #171717;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  padding: 10px 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
}
.question_buttons .go_faq:hover {
  transition: 0.5s;
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
}
.question_buttons .go_bot {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
  padding: 10px 15px;
  background: #665cd1;
  box-shadow: 0px 4px 10px rgba(111, 98, 228, 0.945);
  border-radius: 45px;
}
.question_buttons .go_bot:hover {
  transition: 0.5s;
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
}

.question_text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #5a5a5a;
  transition: 0.3s;
}

.app_or_web {
  margin-bottom: 50px;
  transition: 0.5s;
  opacity: 0.2;
  position: relative;
  top: 150px;
}
.app_or_web.show {
  transition: 0.5s;
  opacity: 1;
  top: 0px;
}

.app_or_web_contet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), url(/public/image/app-or-web-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app_or_web_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #f1f0ff;
  margin-bottom: 10px;
}

.app_or_web_subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #f1f0ff;
  margin-bottom: 25px;
}

.app_or_web_buttot_web {
  margin-bottom: 30px;
}
.app_or_web_buttot_web a {
  padding: 10px 15px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
  background: #665cd1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
}
.app_or_web_buttot_web a:hover {
  transition: 0.5s;
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
}

.app_or_web_app {
  width: 675px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app_or_web_app .app_or_web_buttot_app {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px;
  color: #f1f0ff;
  background: #171717;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
}
.app_or_web_app .app_or_web_buttot_app:hover {
  transition: 0.5s;
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
}