.header {
  color: white;
  background-image: url(/public/image/header-bak.png);
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 25px 30px 25px 25px;
}

.logo {
  width: 90px;
  height: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list a {
  color: white;
  text-decoration: none;
}
.nav_list li {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  box-sizing: content-box;
  margin: 0px 50px;
  padding: 5px 10px;
  border-radius: 45px;
  transition: 0.3s;
}
.nav_list li:hover {
  background-color: #665cd1;
}

.button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px;
  color: white;
  background: #665cd1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
}
.button:hover {
  transition: 0.5s all;
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
}

.nav_languages {
  cursor: pointer;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  transition: 0.3s;
  border-radius: 15px;
  padding: 7px 15px;
  position: relative;
}
.nav_languages::after, .nav_languages::before {
  content: "";
  height: 1px;
  width: 5px;
  background-color: white;
  position: absolute;
  transition: 0.3s;
  top: 18px;
}
.nav_languages::after {
  left: 50px;
  transform: rotate(-45deg);
}
.nav_languages::before {
  left: 47px;
  transform: rotate(45deg);
}

.nav_languages_active {
  cursor: pointer;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  border-radius: 15px;
  transition: 0.3s;
  padding: 7px 15px;
  background-color: #665cd1;
  position: relative;
}
.nav_languages_active::after, .nav_languages_active::before {
  content: "";
  height: 1px;
  width: 5px;
  background-color: white;
  position: absolute;
  transition: 0.3s;
  top: 18px;
}
.nav_languages_active::after {
  left: 50px;
  transition: 0.3s;
  transform: rotate(45deg);
}
.nav_languages_active::before {
  left: 47px;
  transition: 0.3s;
  transform: rotate(-45deg);
}
.nav_languages_active .nav_languages_block {
  border-radius: 15px;
  transition: 0.5s;
  position: absolute;
  top: 35px;
  left: 0px;
  background-color: #665cd1;
}

.nav_languages_ua {
  border-radius: 15px;
  padding: 7px 15px;
  border-bottom: 1px solid grey;
}
.nav_languages_ua:hover {
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.336);
}

.nav_languages_eng {
  border-radius: 15px;
  padding: 7px 15px;
  border-bottom: 1px solid grey;
}
.nav_languages_eng:hover {
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.336);
}

.seaction {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
.seaction .title {
  max-width: 510px;
  margin-bottom: 115px;
}
.seaction p {
  margin-top: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.seaction .seaction_buttons {
  display: flex;
  transition: 0.5s all;
  margin-bottom: 180px;
}
.seaction .header_button {
  text-align: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 40px 10px 15px;
  color: white;
  background: #665cd1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  margin-right: 15px;
  transition: 0.5s all;
  position: relative;
}
.seaction .header_button::after, .seaction .header_button::before {
  content: "";
  transition: 0.3s all;
  height: 1.2px;
  width: 7px;
  background-color: white;
  position: absolute;
  top: 20px;
}
.seaction .header_button::after {
  top: 17px;
  left: 204px;
  transform: rotate(45deg);
}
.seaction .header_button::before {
  top: 22px;
  left: 204px;
  transform: rotate(-45deg);
}
.seaction .header_button:hover {
  transition: 0.5s all;
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.589);
}
.seaction .header_button:hover::after {
  top: 17px;
  left: 208px;
  transform: rotate(45deg);
}
.seaction .header_button:hover::before {
  top: 22px;
  left: 208px;
  transform: rotate(-45deg);
}
.seaction .header_black_button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #f1f0ff;
  padding: 10px 15px;
  background: #171717;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  transition: 0.5s all;
}
.seaction .header_black_button:hover {
  position: relative;
  background-color: #665cd1;
  top: 1px;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.445);
}