.footer {
  padding: 15px 0px;
}
.footer_logo {
  padding-left: 50px;
  padding-bottom: 25px;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 50px;
}
.footet_pages {
  display: flex;
  flex-direction: column;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  align-items: flex-start;

  color: #262626;
  .footet_pages_list {
    margin-top: 10px;
    li {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
      /* Black/400 */

      color: #5a5a5a;
    }
  }
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  .footer_contacts_list {
    margin-top: 10px;
    li {
      margin-bottom: 10px;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */

      /* Black/400 */

      color: #5a5a5a;
    }
  }
  color: #262626;
}
.footer_socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  .socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .facebook {
    }
    .instagram {
    }
    .youtoube {
    }
  }
}
.footer_documents {
}
.footer_app_or_web {
}
.footer_app_or_web_title {
}
.footer_app_or_web_buttons {
}
.footer_app_or_web_subtitle {
}
.footer_web_button {
}
