.footer {
  padding: 15px 0px 0px;
}
.footer_logo {
  padding-left: 50px;
  padding-bottom: 25px;
}
.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 50px;
}
.footet_pages {
  display: flex;
  flex-direction: column;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-left: 25px;
  &:hover{
    &::before{
      transition: 0.5s;
      transform: rotate(360deg);
    }
  }
  align-items: flex-start;
  position: relative;
  &::before {
    content: "";
    background-image: url(/public/image/icons/os-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  color: #262626;

  .footet_pages_list {
    margin-top: 10px;
  }
  li {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    line-height: 18px;
    &:hover {
      text-shadow: 1px 1px 1px rgba(156, 156, 156, 0.349);

      color: #383737;
    }
    &:active{
      text-shadow: 2px 2px 2px rgba(15, 15, 15, 0.349);
      color: #252525;
    }
    color: #5a5a5a;
  }
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  &:hover{
    
    &::before{
      transition: 0.5s;
      transform: rotate(360deg);
    }
    
  }
  &::before {
    content: "";
    background-image: url(/public/image/icons/os-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0px;
    left: -25px;
  }
  .footer_contacts_list {
    margin-top: 10px;
    li {
      margin-bottom: 10px;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      &:hover {
        text-shadow: 1px 1px 1px rgba(156, 156, 156, 0.349);
        color: #383737;
      }
      &:active{
        text-shadow: 2px 2px 2px rgba(15, 15, 15, 0.349);
        color: #252525;
      }
      color: #5a5a5a;
    }
  }
  color: #262626;
}
.footer_socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  &:hover{
    
    &::before{
      transition: 0.5s;
      transform: rotate(360deg);
    }
  }
  &::before {
    content: "";
    background-image: url(/public/image/icons/os-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0px;
    left: -25px;
  }
  .socials {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .facebook {
      border-radius: 50%;
      margin-right: 12px;
      &:hover {
        box-shadow: 1px 1px 5px #665cd1;
      }
      &:active{
        background-color: #e2dffc;
      }
    }
    .instagram {
      border-radius: 50%;
      margin-right: 12px;
      &:hover {
        box-shadow: 1px 1px 5px #665cd1;
      }
      &:active{
        background-color: #e2dffc;
      }
    }
    .youtube {
      border-radius: 50%;

      &:hover {
        box-shadow: 1px 1px 5px #665cd1;
      }
      &:active{
        background-color: #e2dffc;
      }
    }
  }
}
.footer_documents {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  
  &:hover{
    
    &::before{
      transition: 0.5s;
      transform: rotate(360deg);
    }
  }
  &::before {
    content: "";
    background-image: url(/public/image/icons/os-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0px;
    left: -25px;

  }
}

.footer_app_or_web {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_app_or_web_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  /* Black/500 */

  color: #262626;
}

.footer_app_or_web_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.google_play {
  background-image: url(/public/image/icons/google-play.png);
  width: 113px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 45px;
  &:hover {
    box-shadow: 1px 2px 20px rgba(56, 0, 88, 0.363);
  }
}
.app_store {
  background-image: url(/public/image/icons/app-store.png);
  width: 110px;
  height: 33px;
  background-repeat: no-repeat;
  background-position: center;
  &:hover {
    box-shadow: 1px 2px 20px rgba(56, 0, 88, 0.363);
  }
}
.footer_app_or_web_subtitle {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  color: #262626;
  margin-bottom: 20px;
}
.footer_web_button {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px;
  color: #f1f0ff;
  background: #665cd1;
  box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
  border-radius: 45px;
  &:hover {
    transition: 0.5s;
    position: relative;
    background-color: #665cd1;
    top: 1px;
    box-shadow: inset 1px 2px 25px rgba(0, 0, 0, 0.404);
  }
  &:active{
    background-color: #47418b;
    box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.589);
  }

}
.copyright{
  padding: 25px 0px 15px;
  font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 14px;

text-align: center;


color: #7E7E7E;
}

.document_popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5a5a5a85;
  width: 100%;
  height: 100%;
  .popup_content{
    position: absolute;
  width: 435px;
  height: 230px;
  background: #fefefe;
  border-radius: 15px;

  }
  
}